@charset 'utf-8';
@import "sub_layout";
#join {
  .inner {
    h2 {
      font: bold 26px/1 'Nanum Gothic', sans-serif;
      color: #444;
      margin-bottom: 20px;
      margin-top: 50px;
    }
  
    #terms {
      width: 100%;
      resize: none;
      background: rgba(0, 0, 0, 0.1);
      padding: 20px;
      box-sizing: border-box;
      font: 12px/1.6 'arial';
      color: #444;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #ddd;
  
        &:nth-of-type(1) {
          border-top: 2px solid #111;
        }
  
        th {
          width: 20%;
          padding: 20px 40px;
          text-align: left;
          position: relative;

          &::before {
            content: "*";
            display: block;
            color: red;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
          }
        }
        &:nth-of-type(5) th::before, &:nth-of-type(6) th::before, &:nth-of-type(7) th::before, &:nth-of-type(9) th::before, &:nth-of-type(10) th::before {
          display: none;
        }
        &:last-of-type th {
          text-align: center;
        }
        td {
          padding: 20px 40px;
        }
        input[type=text], input[type=password], select {
          width: 30%;
          height: 30px;
          border: 1px solid #aaa;
          background: rgba(0, 0, 0, 0.03);
          padding: 5px 10px;
          box-sizing: border-box;
        }
        input[type=number] {
          width: 15%;
          height: 30px;
          border: 1px solid #aaa;
          background: rgba(0, 0, 0, 0.03);
          padding: 5px 10px;
          box-sizing: border-box;
        }
        .phone_con {
          display: inline-block;
          width: 15%;
          height: 28px;
          background: rgba(0, 0, 0, 0.03);
          border: 1px solid #aaa;
          vertical-align: top;
          margin-left: 20px;
          font: 14px/28px 'Nanum Gothic', sans-serif;
          color: #666;
          text-align: center;
        }
        #comment {
          width: 100%;
          height: 120px;
          resize: none;
          background: rgba(0, 0, 0, 0.03);
          padding: 20px;
          box-sizing: border-box;
          font: 16px/1.6 'Nanum Gothic', sans-serif;
        }
        input[type=reset], input[type=submit] {
          width: 120px;
          height: 40px;
          margin: 0 20px;
          font: bold 12px/40px 'Nanum Gothic', sans-serif;
          color: #666;
          text-align: center;
          border: 1px solid #777;
          cursor: pointer;
        }
      }
    }
  }
}