@charset 'utf-8';
@import "sub_layout";

#location {
  .sub_visual {
    background: url(../img/loaction_banner.jpg) no-repeat center/cover;
    filter: saturate(0%);
  }

  .inner {
    position: relative;
    margin-bottom: 240px;

    #map {
      width: 100%;
      height: 500px;
      margin-bottom: 100px;
      filter: grayscale(70%);
    }

    .traffic {
      float: left;
      position: absolute;
      right: 10px;
      top: 600px;
      z-index: 1;

      li {
        float: left;

        a {
          display: block;
          width: 100px;
          height: 40px;
          background: #aaa;
          font: bold 12px/40px "arial";
          color: #fff;
          text-align: center;
        }

        &.on {
          a {
            background: #555;
            color: #fff;
          }
        }
      }
    }

    .branch {
      float: left;
      position: absolute;
      top: 104px;
      left: 0;

      li {
        float: left;

        a {
          display: block;
          width: calc( 1180px / 3);
          height: 40px;
          background: #aaa;
          font: bold 12px/40px 'arial';
          color: #fff;
          text-align: center;
          transition: 0.5s;
        }
        &:hover {
          a {
            background: #999;
          }
        }

        &.on {
          a {
            background: #555;
          }
          &:hover a {
            background: #222;
          }
        }
      }
    }

    h2 {
      font: bold 24px/1 'Nanum Gothic';
      text-align: center;
      margin-bottom: 50px;
    }

    .public_trans {
      ul {
        li {


          p {

            .bus_title {
              display: inline-block;

            }
          }
        }
      }
    }
  }
}