@charset 'utf-8';

.content {
  width: 100%;
  padding: 0 0 100px;
  position: relative;

  .sub_visual {
    width: 100%;
    height: 30vh;
    background: #efefef;
    margin-bottom: 100px;
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;

    .site_map {
      position: absolute;
      top: -40px;
      right: 20px;
      
      li {
        display: inline-block;
        &::after {
          content: '/';
          display: inline-block;
          font-size: 12px;
          color: #666;
          padding-left: 5px;
        }
        a {
          display: inline-block;
          font: 12px/1 'arial';
          color: #666;
          position: relative;
          
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: -3px;
            background: #666;
          }
        }
        &:last-of-type a::after {
          display: none;
        }
        &:last-of-type::after {
          display: none;
        }
      }
    }

    h1 {
      text-align: center;
      font: 44px/1 'Nanum Myeongjo', serif;
      color: #222;
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 1179px) {
  .content {
    padding: 0px 0px 50px;
    .inner {
      width: 100%;
      padding: 0px 40px;
      box-sizing: border-box;
      .site_map {
      position: absolute;
      top: -40px;
      right: 40px;
      }
      h1 {
        margin-bottom: 100px;
      }
    }
  }
}

@media screen and (max-width: 539px) {
  .content {
    padding: 0px 0px 30px;
    .inner {
      .site_map {
        display: none;
      }
      h1 {
        margin-bottom: 50px;
      }
    }
  }
}